%div[document_item]{:class => (document_item_updated_for_user?(document_item) ? "updated section" : "section")}
  -if document_item.is_heading?
    -if owner?(current_object) and current_object.active?
      - if owner?(current_object) and current_object.active?
        
      .show.editable
        %h3=document_item.title
      .edit
        - form_for document_item, :html => {:id => "section_edit_form_#{document_item.id}", :class => "inlinene-edit-form section-form"} do |form|
          = hidden_field_tag 'render', 'document_item', :id => "render_di_#{document_item.id}"
          .field
            %h3
              = form.text_field :title, :class => 'inline-edit-title', :id => "document_item_#{document_item.id}_title"
          .field.clearfix
            %p.submit.fright
              = link_to 'cancel', 'javascript:void(0)', :class => 'toggle-inline-edit' if owner?(current_object) and current_object.active?
              or
              = form.submit 'submit', :class => 'submit inline-edit-submit', :id => "document_item_#{document_item.id}_submit"
            - form_for document_item, :html => {:method => 'delete', :id => "section_delete_form_#{document_item.id}", :class => "section-delete-form"} do |form|
              = form.submit 'delete', :id => "delete_section_#{document_item.id}_submit", :class => 'delete-section-submit'
          
    - else
      .show
        %h3
          =document_item.title
  -else
    - if owner?(current_object) and current_object.active?
      .show.editable
        %h4=document_item.title
        %div.body
          -if document_item.body.present?
            :textile
              #{document_item.body.lstrip}
      .edit
        - form_for document_item, :html => {:id => "section_edit_form_#{document_item.id}", :class => "inline-edit-form section-form"} do |form|
          = hidden_field_tag 'render', 'document_item', :id => "render_di_#{document_item.id}"
          
          .field
            %h4
              = form.text_field :title, :class => 'inline-edit-title', :id => "document_item_#{document_item.id}_title"
          .field
            = form.text_area :body, :class => 'inline-edit-body', :id => "document_item_#{document_item.id}_body"
          .field.clearfix
            %span.notify
              =label_tag "document_item_#{document_item.id}_notifications", "Notify collaborators?"
              =form.check_box :send_notifications, :checked => true, :id => "document_item_#{document_item.id}_notifications"
            
          .field            
            %p.submit.fright            
              = link_to 'cancel', 'javascript:void(0)', :class => 'cancel-inline-edit' if owner?(current_object) and current_object.active?
              or
              = form.submit 'submit', :class => 'submit inline-edit-submit', :id => "document_item_#{document_item.id}_submit"

        - form_for document_item, :html => {:method => 'delete', :id => "section_delete_form_#{document_item.id}", :class => "section-delete-form"} do |form|
          = form.submit 'delete', :id => "delete_section_#{document_item.id}_submit", :class => 'delete-section-submit'


    - else
      .show
        %h4=document_item.title
        %div.body
          -if document_item.body.present?
            :textile
              #{document_item.body.lstrip}
  - unless @print_mode.present?
    %ul.actions
      -if current_object.active? and not document_item.is_heading? and not current_object.draft?
        %li= link_to comments_tab(document_item), '#', {:class => 'toggle_document_item_activity'}
      - if owner?(current_object) and current_object.active?
        - unless current_object.draft? or document_item.is_heading?
          %li
            %span.separator
              |
        %li= link_to 'edit', 'javascript:void(0)', :class => 'toggle-inline-edit'
      -if current_object.active?
        = render :partial => "documents/activity_stream", :locals => {:document_item => document_item, :current_object => current_object}
    .clear
    