.most_important_thing.section
  %span.left &ldquo;
  -if owner?(current_object) and current_object.active?
    .show.editable
      %span.with-tooltip{:title => "Click to edit..."}=current_object.most_important_message
    .edit
      - form_for current_object, :html =>{ :class => 'inline-edit-form', :id => "brief_mit_form_#{current_object.id}"} do |brief_form|
        = hidden_field_tag 'render', 'most_important_thing', :id => "mostimportantthing_render"
        = brief_form.text_field :most_important_message, :rows => "5", :id => "brief_mit_form_#{current_object.id}_textarea"
        %p.submit
          = link_to 'cancel', 'javascript:void(0)', :class => 'toggle-inline-edit'
          or 
          = brief_form.submit 'submit', :id => "brief_mit_form_#{current_object.id}_submit", :class => 'submit inline-edit-submit'
  -else 
    .show
      %span=current_object.most_important_message    
  %span.right &rdquo;
