%div[brief_section]
  %p.title
    %strong Title
    = h brief_section.title
  %p.strapline
    %strong Strapline
    = h brief_section.strapline
  %p.position
    %strong Position
    = h brief_section.position

  = link_to 'Show', object_path(brief_section)
  |
  = link_to 'Edit', edit_object_path(brief_section)
  |
  = link_to 'Destroy', object_path(brief_section), :confirm => 'Really destroy brief_section?', :method => :delete
