%div[brief_answer]
  %p.answer
    %strong Answer
    = h brief_answer.answer
  %p.brief_question_id
    %strong Brief question
    = h brief_answer.brief_question_id
  %p.brief_id
    %strong Brief
    = h brief_answer.brief_id

  = link_to 'Show', object_path(brief_answer)
  |
  = link_to 'Edit', edit_object_path(brief_answer)
  |
  = link_to 'Destroy', object_path(brief_answer), :confirm => 'Really destroy brief_answer?', :method => :delete
