%h1 Viewing brief_answer

%div[current_object]
  %p.answer
    %strong Answer
    = h current_object.answer
  %p.brief_question_id
    %strong Brief question
    = h current_object.brief_question_id
  %p.brief_id
    %strong Brief
    = h current_object.brief_id

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy brief_answer?', :method => :delete
|
= link_to 'Back', objects_path
