%h1= @page_title = 'Account owner custom queries'

= render :partial => "custom_query_nav"
= link_to "&laquo; Back to Account owners", admin_account_owners_path

%h3= @query_description

- if @users and @users.count > 0
  %ol
    - @users.each do |user|
      %li= user.email
- else
  None