<h1><%= @page_title = 'Account owners' %></h1>


<table class="tabular-data">
  <thead>
    <tr>
      <th>Account Owners</th>
    </tr>
  </thead>
  <tbody>
    <% @account_owners.each do |user| %>
      <tr>
        <td><%= user.first_name%> <%= user.last_name%> &lt;<%=user.email%>&gt;</td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<table class="tabular-data">
  <thead>
    <tr>
      <th>All Users</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.first_name%> <%= user.last_name%> &lt;<%=user.email%>&gt;</td>
      </tr>
    <% end %>
    
  </tbody>
</table>

