<h1><%= @page_title = 'Account owners' %></h1>

<p>Note: </p>
<ul>
	<li>'# documents created' can be greater than 'Total # of documents' if the user creates a document and unassigns themselves from the document</li>
	<li>'# documents as author' + '# documents as collaborator only' = 'Total # of documents'</li>
</ul>

<table class="tabular-data">
  <thead>
    <tr>
      <th>User first name</th>
			<th>User last name</th>
			<th>User email</th>
			<th>Accounts</th>
			<th>Invited by first name</th>
			<th>Invited by last name</th>
			<th>Invited by email</th>
			<th>Last login</th>
			<th># logins &lt; 1 week</th>
			<th># logins &lt; 1 month</th>
			<th># documents created</th>
			<th># documents as as approver</th>			
			<th># documents as author</th>
			<th># documents as collaborator only</th>
			<th>Total # of documents</th>
			<th># documents created &lt; 1 week</th>
			<th># documents created &lt; 1 month</th>
			<th># ideas owned</th>
			<th># ideas created &lt; 1 week</th>
			<th># ideas created &lt; 1 month</th>
			<th># contacts invited</th>
			<th># templates created</th>
			<th>Has profile picture?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name%></td>
				<td><%= user.last_name%></td>
				<td><%= user.email%></td>
				
				<td>
					<%- if user.account_properties.count > 0 %>
						<ul>
							<%- user.account_properties.each do |account| %>
								<li>
									<a href="<%= account.full_domain %>"><%= account.name %></a>									
									<%- if account.is_admin == '1' %>, admin<%- end %>
									<%- if account.can_create_documents == '1' %>, can create documents<%- end %>
								</li>									
							<%- end %>
						</ul>
					<%- end %>
				</td>
				
				<td><%- if user.invited_by %><%= user.invited_by.first_name %><%- end %></td>
				<td><%- if user.invited_by %><%= user.invited_by.last_name %><%- end %></td>
				<td><%- if user.invited_by %><%= user.invited_by.email %><%- end %></td>
				<td><%= user.last_login_at %></td>
				<td>-</td>
				<td>-</td>
				<td><%= user.num_documents_created %></td>
				<td><%= user. num_documents_as_approver %></td>				
				<td><%= user.num_documents_as_author %></td>
				<td><%= user.num_documents_as_collaborator_only %></td>
				<td><%= user.total_num_documents %></td>
				<td><%= user.total_number_of_documents_last_week %></td>
				<td><%= user.total_number_of_documents_last_month %></td>
				<td><%= user.num_ideas_owned %></td>
				<td><%= user.num_ideas_created_last_week %></td>
				<td><%= user.num_ideas_created_last_month %></td>
				<td>-</td>
				<td>-</td>
				<td><%= user.avatar_file_name ? "yes" : "no" %></td>	
      </tr>
    <% end %>
    
  </tbody>
</table>

