<h1><%= @page_title = 'Account owners' %></h1>

<h2>Sort by</h2>
<ul>
	<li><a href="/account_owners">User name</a></li>
	<li><a href="/account_owners?sortby=last_login_at">Last login (ascending)</a></li>
	<li><a href="/account_owners?sortby=last_login_at&desc=true">Last login (descending)</a></li>
</ul>

<table class="tabular-data">
  <thead>
    <tr>
      <th>Account Owners</th>
    </tr>
  </thead>
  <tbody>
    <% @account_owners.each do |user| %>
      <tr>
        <td><%= user.first_name%> <%= user.last_name%> &lt;<%=user.email%>&gt;</td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<table class="tabular-data">
  <thead>
    <tr>
      <th>All Users</th>
			<th>Last login</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name%> <%= user.last_name%> &lt;<%=user.email%>&gt;</td>
				<td><%= user.last_login_at %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

