%tr[section]
  %td= h section.title
  %td{:style => "text-align: center"}= h section.questions.count
  %td
    = link_to 'Show', object_path(section)
    |
    = link_to 'Edit', edit_object_path(section)
    |
    = link_to 'Destroy', object_path(section), :confirm => 'Really destroy section?', :method => :delete