%h2 Editing section

= error_messages_for :section

- form_for(:section, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
    
  %p
    = f.label :sections, 'Questions', {:style => "height: 100%"}
    %span.input{:style => "height: 100%"}
      =select_tag("section[brief_question_ids][]", options_for_select(@questions.map{|q| [q.title, q.id] }, current_object.brief_question_ids), {:name => "section[brief_question_ids][]",  :multiple => "true"})
    .clear
  
  %p= submitter "Update"
  .clear

%p
  = link_to 'Show', object_path
  |
  = link_to 'Back', objects_path
