#account-menu
  - unless @user.present?    
    %fieldset#account-form
      %legend Log in     
      - form_for UserSession.new, :url => "/login", :html => {:class => "infield-labels"} do |f|
        %ol
          %li.email
            =f.label :email
            =f.text_field :email
          %li.password
            =f.label :password
            =f.password_field :password
        =f.submit "Log in", :class => "submit"
        
  - else 
    %a#account-button.logged-in{:href => "/login"}
      = @user.screename
      %span.end
    #account-dropdown
      #account-links
        - if @user.accounts.present?
          - @user.accounts.each do |account|
            = link_to account.name, "#{domain_with_port(account.full_domain)}", :class => "account_link"
          = link_to "Logout", "#{domain_with_port(@user.accounts.first.full_domain)}/user_session/delete", :id => "account_logout"