- unless @user.present?
  #account-menu.logged-out
    %fieldset#account-contents
      %legend Log in     
      - form_for UserSession.new, :url => "/login", :html => {:class => "infield-labels"} do |f|
        %ol
          %li.email
            =f.label :email
            =f.text_field :email, :autocomplete => "off"
          %li.password
            =f.label :password
            =f.password_field :password, :autocomplete => "off"
        =f.submit "Log in", :class => "submit"
    
    %a#account-button{:href => "/login"} Login
    
- else
  #account-menu.logged-in 
    %a#account-button{:href => "/login"}
      = @user.screename
      
    - if @user.accounts.present?  
      #account-contents
        %ol
          - @user.accounts.each do |account|
            %li= link_to account.name, "#{domain_with_port(account.full_domain)}", :class => "account_link"
          %li.logout-link= link_to "Logout", "#{domain_with_port(@user.accounts.first.full_domain)}/user_session/delete", :id => "account_logout"
