#account-menu

  - unless @user.present?
    %a#account-button{:href => "/login"}
      Log in
      %span.end
        &nbsp;
    Have an account?
    #account-dropdown
      #account-form
        %h2 Log in to ideapi
        - form_for @usersession, :url => "/login" do |f|
          .email
            =f.label :email
            =f.text_field :email
          .password
            =f.label :password
            =f.password_field :password
          =f.submit "Log me in", :class => "submit"
  - else 
    %a#account-button{:href => "/login"}
      = @user.screename
      %span.end
        &nbsp;
    Aloha !
    #account-dropdown
      #account-form
        - @user.accounts.each do |account|
          - # This will be much cleaner, just a quick fix to not have to put the port everytime i click in development...
          = link_to account.name, "http://#{account.full_domain}:#{self.request.port.to_s}", :class => "account_link"
          - form_for @usersession, :url => "http://#{account.full_domain}:#{self.request.port.to_s}/user_session" do |f|
            = f.hidden_field :email, :value => @user.email
            = f.hidden_field :password, :value => session["password"]
        :javascript
          $(document).ready(function(){
            $("#account-dropdown a.account_link").click(function(){
              $(this).siblings('form').submit();
              return false;
            });
            account_links = $("#account-dropdown a.account_link");
            / if(account_links.size() == 1){
            /   account_links.eq(0).siblings('form').submit();
            / }
            
          });
