
= form.error_messages

%fieldset
  %h3 
    = form.label :title, "Name"
    = form.text_field :title
  
  .hr
  
  -unless form.object.new_record?
  
    %h4 Template Questions
    //= sortable_element('template_questions', :url => {:action => 'sort', :id => current_object.id, :method => 'get' }, :tag => 'tr')
    %table#template_questions.spaced
      %tr
        %th Question
        %th Help Message
        %th Remove
      -form.fields_for :template_brief_questions do |template_brief_question|
        -unless template_brief_question.object.new_record?
          %tr
            - if template_brief_question.object.template_question.is_heading?
              %td.heading= template_brief_question.object.template_question.body
            - else 
              %td= template_brief_question.object.template_question.body
            %td=template_brief_question.object.template_question.help_message
            %td= template_brief_question.check_box '_destroy'
  
    .hr
  
    %h3 Add a question
    -form.fields_for :template_brief_questions do |template_brief_question|
      -if template_brief_question.object.new_record?
        - if questions_available.present?
          %p
            = template_brief_question.label :template_question_id, 'Choose existing'
            = template_brief_question.select :template_question_id, questions_available.map{|q| ["#{q.body} - #{q.help_message}", q.id]}, { :include_blank => true }
        - else
          %p Create another question
  
%p= submit_tag
