:plain
  Account: #{@brief.account.name}
  Brief: #{truncate(@brief.title, :length => 40)}
  Link: #{brief_url(@brief, :host => @brief.account.full_domain)}
  
  The brief #{link_to @brief.title, brief_url(@brief, :host => @brief.account.full_domain)} has been updated by #{@user.full_name}.