- @document = @comment.commentable.document
- @idea = @comment.commentable

:plain
  Account : #{@document.account.name}
  Document   : #{truncate(@document.title, :length => 40)}
  Link    : #{document_proposal_url(:id => @idea.id, :document_id => @document.id, :host => @document.account.full_domain)}
  
  A comments has been left on the document #{@comment.commentable.title} by #{@comment.user.full_name}.

  #{@comment.user.full_name} wrote:
  "#{@comment.comment}"

=render :partial => 'footer'
