%p
  A comments has been left on the brief 
  = link_to @comment.commentable.title, brief_proposal_url(:id => @comment.commentable.id, :brief_id => @comment.commentable.brief.id, :host => @comment.commentable.brief.account.full_domain)
  by #{@comment.user.full_name}.
%p
  #{@comment.user.full_name} wrote
  %br/
  "#{@comment.comment}"
%p
  = link_to brief_proposal_url(:id => @comment.commentable.id, :brief_id => @comment.commentable.brief.id, :host => @comment.commentable.brief.account.full_domain), brief_proposal_url(:id => @comment.commentable.id, :brief_id => @comment.commentable.brief.id, :host => @comment.commentable.brief.account.full_domain)