- @brief = @comment.commentable
%p
  %strong Account:
  = @brief.account.name
  %br/
  %strong Brief: 
  = truncate(@brief.title, :length => 40)
  %br/
  %strong Link:
  = brief_url(@brief, :host => @brief.account.full_domain)
%p
  A comment has been left on the brief 
  = link_to @comment.commentable.title, brief_url(@comment.commentable, :host => @comment.commentable.account.full_domain)
  by #{@comment.user.full_name}.
%p
  #{@comment.user.full_name} wrote
  %br/
  "#{@comment.comment}"