- @brief = @question.brief
%p
  %strong Account:
  = @brief.account.name
  %br/
  %strong Brief: 
  = truncate(@brief.title, :length => 40)
  %br/
  %strong Link:
  = brief_url(@brief, :host => @brief.account.full_domain)
%p
  A question has been left on the brief 
  = link_to @question.brief.title, brief_url(@brief, :host => @brief.account.full_domain)
  by #{@question.user.full_name}. Please respond.
%p
  "#{@question.body}"