- @document = @proposal.document
:plain
  Account : #{@document.account.name}
  Document   : #{truncate(@document.title, :length => 40)}
  Link    : #{document_proposal_url(@document, @proposal, :host => @document.account.full_domain)}
  
  Your idea “#{@proposal.title}” has been reviewed.
  
  Status: #{@proposal.state.to_s.humanize}

=render :partial => 'footer'
