- @brief = @proposal.brief
%p
  %strong Account:
  = @brief.account.name
  %br/
  %strong Brief: 
  = truncate(@brief.title, :length => 40)
  %br/
  %strong Link:
  = brief_proposal_url(@brief, @proposal, :host => @brief.account.full_domain)
%p
  Your idea “#{@proposal.title}” has been reviewed by #{@proposal.approver.full_name}.
%p
  Status:
  = @proposal.state.to_s.humanize