%p
  %strong Account: 
  = @brief.account.name
  %br/
  %strong Brief: 
  = truncate(@brief.title, :length => 40)
  %br/
  %strong Link:
  = brief_url(@brief, :host => @brief.account.full_domain)
%p
  You've been made an approver on the brief 
  = @brief.title 
  - if @brief.author.present?
    = "by #{@brief.author.full_name}."