- @brief = @question.brief
%p
  %strong Account:
  = @brief.account.name
  %br/
  %strong Brief: 
  = truncate(@brief.title, :length => 40)
  %br/
  %strong Link:
  = brief_url(@brief, :host => @brief.account.full_domain)

%p
  A question you asked has been answered by#{@question.answered_by.full_name}.

%p
  "#{@question.author_answer}"