%p
  = f.label :login, "Screename"
  = f.text_field :login
  
%p
  %label{:for => "user_first_name"} First name:
  = f.text_field :first_name
  
%p
  %label{:for => "user_last_name"} Last Name:
  = f.text_field :last_name
  
%p
  %label{:for => "user_email"} Email:
  = f.text_field :email

.hr

%p
  %label{:for => "user_avatar"} Your picture:
  =f.file_field :avatar
  .help
    Upload a square image 100x100
.hr  
  
%p
  %label{:for => "user_password"} Password:
  = f.password_field :password

%p
  %label{:for => "user_password_confirmation"} Password confirmation:
  = f.password_field :password_confirmation
  
.hr

%p
  = f.label :job_title
  = f.text_field :job_title
  
%p
  = f.label :telephone
  = f.text_field :telephone
  
%p
  = f.label :telephone_ext
  = f.text_field :telephone_ext
