%p
  %label{:for => "user_first_name"} First name:
  = f.text_field :first_name
  
%p
  %label{:for => "user_last_name"} Last Name:
  = f.text_field :last_name
  
%p
  %label{:for => "user_email"} Email:
  = f.text_field :email

.hr

%p
  %label{:for => "user_avatar"} Your picture:
  =f.file_field :avatar
  .help
    Upload a square image 100x100
.hr  
  
%p
  %label{:for => "user_password"} Password:
  = f.password_field :password
  .help
    You must fill in both password and password confirmation to change passwords.
%p
  %label{:for => "user_password_confirmation"} Password confirmation:
  = f.password_field :password_confirmation
