.add_users
  %h3 Add user to your account

  -if current_account.reached_user_limit? 
    %p 
      You have reached your user limit for this plan, please 
      =link_to 'upgrade', account_path
      to add more.
  -else
    
    -form_for :user, :url => users_path do |f|
      %p
        = f.label :first_name
        = f.text_field :first_name

      %p
        = f.label :last_name
        = f.text_field :last_name

      %p
        = f.label :email
        = f.text_field :email

      %p
        = f.label :invitation_message, "Invitation Message (optional)"
        = f.text_area :invitation_message, :rows => 5, :cols => 60

      %h4 Brief Privileges

      -if current_account.briefs.present?
        %table.friends#brief-privileges
          %tr
            %th{:title => "Select whether a user can access a brief"}
              Can Access Brief?
            %th{:title => "Make this user an author on the brief"}
              Author?
            %th{:title => "Make this user an approver on the brief"}
              Approver?
          -f.fields_for :user_briefs_attributes do |f|
            -current_account.briefs.active.ordered("title ASC").each_with_index do |b,c|
              %tr
                %td.brief-title
                  =f.hidden_field :brief_id, :index => c, :value => b.id
                  =f.check_box :add_brief, "index" => c
                  =f.label :add_brief, b.title, :index => c
                %td
                  =f.check_box :author, "index" => c
                %td
                  =f.check_box :approver, "index" => c
      %p=f.submit 'Add to account'
