.add_users
  %h3 Add user to your account

  -if current_account.reached_user_limit? 
    %p 
      You have reached your user limit for this plan, please 
      =link_to 'upgrade', account_path
      to add more.
  -else
    
    -form_for :user, :url => users_path do |f|
      %p
        = f.label :first_name
        = f.text_field :first_name

      %p
        = f.label :last_name
        = f.text_field :last_name

      %p
        = f.label :email
        = f.text_field :email
      
      -if current_account.briefs.present?
        %h3 Add briefs
        %table.friends
          %tr
            %th
              Brief
            %th
              Author?
            %th
              Approver?
          -f.fields_for :user_briefs_attributes do |f|
            -current_account.briefs.each_with_index do |b,c|
              %tr
                %td
                  =f.hidden_field :brief_id, :value => b.id, "index" => c
                  =b.title
                %td
                  =f.check_box :author, "index" => c
                %td
                  //=f.check_box :approver, "index" => c
      %p=f.submit 'Add to account'
