= sub_nav do
  = breadcrumb_list
.col_1
  %h2 Edit profile
  %div[current_object]
    - form_for(:user, :url => object_url, :html => { :method => :put, :multipart => true }) do |f|
      .boom_box
        = error_messages_for :user
        = render :partial => "form", :locals => {:f => f}
      %p.submit
        %span.cancel
          = link_to 'Cancel', object_path
          or
        =submit_tag "Update" 
      .clear
   
