.col_1
  %h2 Contacts
  
  -form_for current_account, :url => account_path do |f|
    
    %table.friends
    
      %tr
        %th Name
        %th Title
        %th Telephone
        %th Ext
        %th Last login
        -if admin?
          %th Can create briefs
        %th Briefs
        -if admin?
          %th Invited by
          %th Remove
      
      - f.fields_for :account_users do |account_user|
        %tr
          %td
            =user_link(account_user.object.user)
            -if account_user.object.user.pending?
              =link_to "(invite_link)", user_signup_url(:invite_code => account_user.object.user.invite_code, :host => current_account.full_domain)    
          %td= value_or_symbol(account_user.object.user.job_title)
          %td= value_or_symbol(account_user.object.user.telephone)
          %td= value_or_symbol(account_user.object.user.telephone_ext)
          %td
            -if account_user.object.user.last_login_at.present?
              = time_ago_in_words_with_word(account_user.object.user.last_login_at)
            -else
              Never
          
          -if admin?
            %td
              = account_user.check_box :can_create_briefs

          %td= account_user.object.user.briefs.by_account(account_user.object, {}).count
          -if admin?
            %td= value_or_symbol(given_name(account_user.object.user.invited_by))
            %td
              -if !account_user.object.admin? 
                = account_user.check_box :_delete
              -else
                = value_or_symbol(nil)
              
    =hidden_field_tag :return_to, users_path
    
        
    -if admin?
      %p.submit=f.submit 'Update privileges' 
      .clear
    
      .hr
      =render :partial => 'invite'