- body_classes << "contacts"
.col_1
  %h2 Contacts
  #contacts_note.note
    - if current_account.admin.present? and current_account.admin == current_user
      :markdown
        You must add users to your account before you can invite anyone to collaborate on a brief. 
        When adding new users you can opt to allow them to create new briefs, 
        as well as adding them straight onto existing briefs.
    - else 
      :markdown
        Users must be added to the account before anyone can be invited to collaborate on a brief.
        To add users to this account, please contact your account holder 
        (#{link_to current_account.admin.full_name, user_path(current_account.admin.screename)}) with the details.
      
  
  -form_for current_account, :url => account_path do |f|
    
    %table.friends
    
      %tr
        %th Name
        %th Title
        %th Telephone
        %th Ext
        %th Last login
        -if admin?
          %th Can create briefs
        - # %th Briefs
        -if admin?
          %th Invited by
          %th Remove
      
      - f.fields_for :account_users do |account_user|
        - if account_user.object.user
          %tr
            %td
              =user_link(account_user.object.user)
              -if account_user.object.user.pending? and admin?
                =link_to "(send invite)", user_send_invite_url(:id => account_user.object.user.id, :host => current_account.full_domain)
            %td= value_or_symbol(account_user.object.user.job_title)
            %td= value_or_symbol(account_user.object.user.telephone)
            %td= value_or_symbol(account_user.object.user.telephone_ext)
            %td
              -if account_user.object.user.last_login_at.present?
                = time_ago_in_words_with_word(account_user.object.user.last_login_at)
              -else
                Never
          
            -if admin?
              %td
                = account_user.check_box :can_create_briefs

            -# %td= account_user.object.user.briefs(current_account).count
            -if admin?
              %td= value_or_symbol(given_name(account_user.object.user.invited_by))
              %td
                -if !account_user.object.admin? 
                  = account_user.check_box :_delete
                -else
                  = value_or_symbol(nil)
              
    =hidden_field_tag :return_to, users_path
    
        
    -if admin?
      %p.submit=f.submit 'Update privileges' 
      .clear
  
  -# Important correct nesting  
  -if admin?
    .hr
    =render :partial => 'invite'
