- body_classes << "contacts"
- title "Contacts"

- if current_account.admin.present? and current_account.admin == current_user
  = page_help do 
    .box 
      :markdown
        Contacts must be added to the account before they can be added to documents. As an account admin, when adding new contacts you can opt to allow them document creation permissions and add them directly onto any existing documents.

        For more information about the different roles, see our [FAQ](/faq).

        Click on a contact to see their profile. Account admins may also update basic contact information.

- else 
  = page_help do
    .box
      :markdown
        ## Users
        Users must be added to the account before anyone can be invited to collaborate on a document.
        To add users to this account, please contact your account holder 
        (#{link_to current_account.admin.full_name, user_path(current_account.admin.screename)}) with the details.

=sub_nav do
  =breadcrumb_list

.full_page
  #content-header
    %h2 Contacts  
  -   form_for current_account, :url => account_path do |f|
    
    %table.friends
      %thead
        %tr
          %th Name
          %th Title
          %th Telephone
          %th Ext
          %th Last login
          -if admin?
            %th Can create documents
          - # %th Documents
          -if admin?
            -# %th Invited by
            %th Remove
      %tbody
        - f.fields_for :account_users do |account_user|
          - if account_user.object.user
            %tr{:class => cycle('even', 'odd')}
              %td
                = account_user.hidden_field :id
                = user_link(account_user.object.user)
                -if account_user.object.user.pending? and admin?
                  =link_to "(send invite)", user_send_invite_url(:id => account_user.object.user.id, :host => current_account.full_domain)
              %td= value_or_symbol(account_user.object.user.job_title)
              %td= value_or_symbol(account_user.object.user.telephone)
              %td= value_or_symbol(account_user.object.user.telephone_ext)
              %td
                -if account_user.object.user.last_login_at.present?
                  = time_ago_in_words_with_word(account_user.object.user.last_login_at)
                -else
                  Never
          
              -if admin?
                %td
                  = account_user.check_box :can_create_documents

              -# %td= account_user.object.user.documents(current_account).count
              -if admin?
                -# %td= value_or_symbol(given_name(account_user.object.user.invited_by))
                %td
                  -if !account_user.object.admin? 
                    = account_user.check_box :_destroy
                  -else
                    = value_or_symbol(nil)
              
    =hidden_field_tag :return_to, users_path
    
        
    -if admin?
      %p.submit
        = f.submit 'Update privileges', :class => 'funky-button'
      .clear
  
  -# Important correct nesting  
  -if admin?
    .hr
    =render :partial => 'invite'
