%h1 Viewing answer

%div[current_object]
  %p.body
    %strong Body
    = h current_object.body
  %p.question_id
    %strong Question
    = h current_object.question_id
  %p.brief_id
    %strong Brief
    = h current_object.brief_id

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy answer?', :method => :delete
|
= link_to 'Back', objects_path
