- title "FAQ"

%h1 FAQ
= link_to "Try it for free. Signup in seconds", "/signup", :class => "try-button try-button-primary"

:ruby 
  faq = [
          {
            :question => "Permissions: What can Collaborators, Authors and Approvers do?",
            :ans => "<p><strong>Author</strong>: Authors start the ball rolling by creating a brief – they can edit, update or delete a brief as well as respond to questions and submit ideas. Authors also manage all permissions on the brief, assign idea approvers and add/remove collaborators to the brief.</p>
            <p><strong>Collaborator</strong>: This is the default role given to users when they are added to a brief. Collaborators can ask questions and leave comments for others to read. Collaborators can also respond to the brief by submitting ideas.</p>
            <p><strong>Approver</strong>: The approver is responsible for reviewing ideas submitted to a brief. They can also ask questions and leave comments on the brief but cannot edit it.</p>"
          },
          {
            :question => "Who can create briefs?",
            :ans => "<p>The account holder decides who has permission to create briefs. Brief creators are automatically authors on the briefs they create.</p>"          
          },
          {
            :question => "Is my information secure on ideapi?",
            :ans => "<p>Yes your information is completely safe. Keep your login details secret and use strong passwords. Others will not be able to access your data without your login details.</p>"          
          },
          {
            :question => "How do I invite others to collaborate?",
            :ans => "<p>You must first invite them to create a login on ideapi. If you are the account holder you can do this from the Contacts page. Users added to your account will receive an email inviting them to login to ideapi.</p>"
          },
          {
            :question => "How do I add users to a brief?",
            :ans => "<p>Using the Brief Collaborators widget on the right hand side of the brief page, click the “+” button and add users to the brief.</p>"
          },
          {
            :question => "How many collaborators can I have on one brief?",
            :ans => "<p>As many as you like; just add them to your account and add them to the brief.</p>"
          },
          {
            :question => "How many briefs can I have on ideapi?",
            :ans => "<p>As many as you like. Currently ideapi is free and there are no restrictions on the number of briefs that you can work on.</p>"
          },
          {
            :question => "How long will my briefs stay up on ideapi?",
            :ans => "<p>Until you decide to delete them.</p>"
          },
          {
            :question => "Can I create my own brief templates?",
            :ans => "<p>Yes, if you have <a href='#question_2'>permission to create briefs</a>, you can also set up as many of your own brief templates as you like.</p>"
          },
          {
            :question => "How do I create my own brief templates?",
            :ans => "<p>Go to the Templates section, click “Create Template” and add the various sections that you would like to see in briefs based on this template. Use headings to group together related sections in the brief. Add optional help text to each template section to help authors understand what is required.</p>"
          },          
          {
            :question => "I’ve changed my template, why haven’t my briefs changed?",
            :ans => "<p>Alterations to templates do not affect existing briefs.</p>"
          },
          {
            :question => "How do I submit an idea on a brief?",
            :ans => "<p>On the brief page, use the Ideas widget on the right hand side and click “draft new idea”. Give your idea a title and description. You can also upload supporting documents or media. Save your idea as a draft or submit for approval. When you submit your idea the approver will be notified by email.</p>"
          },
          {
            :question => "Who can see the ideas that I submit?",
            :ans => "<p>Only you will be able to see your idea until you submit it. Once submitted the Author(s) and Approver will be able to see your idea.</p>"
          },
          {
            :question => "What emails are sent by ideapi?",
            :ans => "<ul>
            <li>If a collaborator asks a question, authors are notified.</li>
            <li>If an author answers a question, the person that asked the question will be notified.</li>
            <li>If a brief section is updated, all brief collaborators are notified.</li>
            <li>If an idea is submitted, the idea approver is notified.</li>
            <li>If an idea’s approval status is changed, the idea owner is notified.</li>
            <li>If a user is added to a brief, or their permissions are changed, they will be notified.</li></ul>"
          },             
          {
            :question => "Can I turn off email notifications?",
            :ans => "<p>At present you cannot change the email notifications sent by ideapi – we are currently working on this functionality.</p>"
          },
          {
            :question => "What size files can be uploaded to ideapi, for briefs and ideas?",
            :ans => "<p>There is currently a limit of 3MB per file, but there is no limit to the number of files that can be uploaded.</p>"
          },
          {
            :question => "What is ideapi’s privacy policy?",
            :ans => "<p>In short ideapi will not share any of your information with anyone, ever. Please see the full <a href='/privacy'>privacy policy</a> for reassurance.</p>"
          }       
        ]

#contents
  %h2 Contents
  - unless faq.empty?
    %ol.listing
      - faq.each_with_index do |item, index|
        - q_num = index + 1      
        %li
          = link_to item[:question], "#question_#{q_num}"

- unless faq.empty?
  %ol.faq-listing
    - faq.each_with_index do |item, index|
      - q_num = index + 1
      %li{:id => "question_#{q_num}"}
        %h3.question
          = q_num.to_s + ". " + item[:question]
        = link_to "Back to top", "#contents", :class => "back-to-top"  
        .ans
          = item[:ans]

      