#intro
  %h2.title Collaboratively create briefs and manage ideas with your team and your clients.
  .text
    %p ideapi allows you to create briefs, proposals and documents quickly, share them with your team and your clients, work together to create better content, share ideas and get things done.
    %p No more lost emails or to many versions of documents. Stay up to date and use ideapi as your place to simply create and share documents and ideas online.
    
    .signup
      = link_to "Sign Up Now", "/signup", :class => "try-button try-button-primary"          
      .meta
        for free!

  #promo-video
    :markdown
      <iframe src="http://player.vimeo.com/video/11616621" width="500" height="300" frameborder="0"></iframe>
      

%hr.faded/

%ul.benefits.clearfix
  %li.sidebar
    %ul
      %li.large-quote
        .quote
          .before
            %img{:src => '/images/icons/lquote.png', :alt=> ""}/
          .content
            :markdown
              …perfect for an organisation like ours working with many different groups and individuals all in different time zones…

          .after
            %img{:src => '/images/icons/rquote.png', :alt=> ""}/
        .cite
          %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange

  %li.listing
    %ul
      %li
        %h4 Work Together
        %p Invite who you need to work on a project and the system lets you create and collaborate together efficiently.
        
      %li
        %h4 Save Time
        %p Free creative minds to where when and where they want – and keep tabs on their input.

      %li
        %h4 Stay in Control
        %p Manage your team and your clients by dictating who can see what.

      %li
        %h4 Keep it Safe
        %p ideapi stores your information, ideas and attachments securely, so you do not have to worry about them. Never lose and idea again. You never know when it will be useful.

      %li
        %h4 Be clear
        %p Give clients as much or as little visibility of your process. Include them to collaborate, approve or just give them a topline on what you need them to see.

      %li
        %h4 Waste less
        %p Keep briefs and the ideas online, avoid reams of printer paper being sacrificed needlessly.

      %li.last-benefit
        %h4 Re-write less
        %p Create templates for documents that are created regularly – both section titles and section text can be added to templates so less needs to be re-written.
      
      %li.features-link
        Check out the 
        %br
        = link_to "features", "http://#{request.domain}#{features_path}"

      %li.signup
        = link_to "Sign Up Now", "/signup", :class => "try-button try-button-primary"          
        .meta
          for free!

/ %ul.features.clearfix
/   %li.clearfix
/     %ul
/       %li.collaborate
/         %h4 Work together on your documents.
/         %p.desc Create a structured document online, with headings and sections. Discuss individual sections with your team, clients or grandma. Enrich your document with images and attachments.
/   
/       %li.create
/         %h4 Create new documents your way.
/         %p.desc Build reusable document templates that support your organisation. Reduce the time it takes to start a document.
/   
/       %li.boost.last
/         %h4 Boost Your Creativity.
/         %p.desc Allow team members to upload ideas and supporting media in response to documents. Control your approvals process in one place.
/   %li.clearfix
/     %ul
/       %li.updated
/         %h4 Stay up to date with changes to your documents.
/         %p.desc Track changes to individual sections – see who changed what and when. Get notified by email when something changes.
/   
/       %li.control
/         %h4 Control who sees what
/         %p.desc Choose who to involve in each of your projects. Manage who can view or edit individual documents.
/   
/       %li.last.testimonial
/         %h4.quote.prepend-1
/           For more information, <br/>
/           check out the #{link_to 'features', '/features'} <br/>
/           page or #{link_to 'try it for free', '/signup'}!

/ = custom_footer do
/   .large-quote
/     .quote
/       .before
/         %img{:src => '/images/icons/lquote.png', :alt=> ""}/
/       .content
/         :markdown
/           …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
/     
/       .after
/         %img{:src => '/images/icons/rquote.png', :alt=> ""}/
/     .cite
/       %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange