.section
  
  %p.intro-text
    != "<strong>Take control</strong> of your briefs, <strong>collaborate</strong> better, <strong>prevent</strong> duplication and <strong>supercharge</strong> your ideas process."
  
  = link_to "Try it for free. Signup in seconds", "/signup", :class => "try-button try-button-primary"
      
  
  #promo-video
    != '<iframe src="http://player.vimeo.com/video/11616621?title=0&amp;byline=0&amp;portrait=0&amp;color=b3d335" width="557" height="418" frameborder="0"></iframe>'

  %ol#workflow
    %li Create brief
    %li Collaborate
    %li Brainstorm
    %li Approve
  
  #testimonials
    %h2 What Our Customers Think
  
    = link_to "Try it for free. Signup in seconds", "/signup", :class => "try-button try-button-secondary"
  
    %ul.listing
      %li
        %h3 Why ideapi?
        .body
          %ul
            %li Manage your briefs and ideas in one place, online.
            %li No more lost information in hundreds of emails.
            %li Progress your briefs and ideas without losing original information.
            %li Manage multiple stakeholders.
            %li Keep everyone up to speed on projects real time.

      %li.last
        %h3 "Breaking International Barriers!"
        .body
          %p The International Exchange is a UK charity based in Brazil that “brings together the world of communications and the world of development in order to achieve social change.”
          %p TIE uses ideapi to create and collaborate on a clear brief internally before sending it out to agencies in the UK and US to get candidates on to their programmes.
          %p ideapi is "a new tool that is perfect for allowing us to collaborate more efficiently and effectively on all our project briefs and proposals." 
          %p "The easy to use system allows anyone to create their own bespoke templates and invite whoever they wish to work with to join in and co-create - perfect for an organisation like ours working with many different groups and individuals all in different time zones!"
          %p Philippa White, Founder & Managing Director.
          %p 
            != "(Read the full article on the <a href='http://www.theinternationalexchange.co.uk/news/news/111/1'>TIE website</a>)"
            
        .meta
          %img{:src => ""}