#intro
  .text
    %h2.title Create better documents
    %p.clearfix
      <strong>Take control</strong> of your documents, proposals, articles and essays. <strong>Collaborate</strong> better, <strong>prevent</strong> duplication and <strong>supercharge</strong> your ideas.
    .signup
      = link_to "Try it for free &raquo;", "/signup", :class => "try-button try-button-primary"
      = link_to "Watch the video &raquo;", "javascript:void()", :class => "try-button overlay-video-trigger", :rel => '#ideapi-video'
  #promo-video
    = link_to image_tag('/images/resources/video-overlay-shadow.png'), 'javascript:void()', :class => 'overlay-video-trigger', :rel => '#ideapi-video'
    #ideapi-video.simple_overlay
      != '<iframe src="http://player.vimeo.com/video/11616621?title=0&amp;byline=0&amp;portrait=0&amp;color=b3d335" width="557" height="418" frameborder="0"></iframe>'

%hr.faded/

%ul.features.clearfix
  %li.collaborate
    %h4 Work together on your documents.
    %p.desc Create a structured document online, with headings and sections. Discuss individual sections with your team (or your clients, grandma etc). Enrich your document with images and attachments.
  
  %li.create
    %h4 Create new documents your way.
    %p.desc Build reusable document templates that support your organisation. Reduce the time it takes to start a document.
  
  %li.boost.last
    %h4 Boost Your Creativity.
    %p.desc Allow team members to upload ideas and supporting media in response to documents. Control your approvals process in one place.
    
  %li.updated.clear
    %h4 Stay up to date with changes to your documents.
    %p.desc Track changes to individual sections – see who changed what and when. Get notified by email when something changes.
  
  %li.control
    %h4 Control who sees what
    %p.desc Choose who to involve in each of your projects. Manage who can view or edit individual documents.
  
  %li.last.testimonial
    %h4.quote.prepend-1
      Check out the #{link_to 'features', '/features'}
      %br/
      page for more…
= custom_footer do
  .large-quote
    .quote
      .before
        %img{:src => '/images/icons/lquote.png', :alt=> ""}/
      .content
        :markdown
          …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
    
      .after
        %img{:src => '/images/icons/rquote.png', :alt=> ""}/
    .cite
      %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange