- if @usersession.present? and @user.present?


  %h3 Where do we go from here?

  #list-of-accounts
    - if @user.accounts.present?
      - @user.accounts.each do |account|
        %h2= link_to account.name, "#{domain_with_port(account.full_domain)}", :class => "account_link"

- else
  %h3 Please login to ideapi
  .login_form.clearfix
    -form_for @user_session, :url => "/login" do |f|
      %p.field
        =f.label :email, 'Email:'
        =f.text_field :email
      %p.field
        =f.label :password, 'Password:'
        =f.password_field :password
      %p#remember-me.field
        =f.label :remember_me, 'Remember me:'
        =f.check_box :remember_me

      %p.submit
        =submit_tag "Login", :class => 'funky-button'
.footer
  %p#forgot-password
    = link_to "Did you forget your password?", :controller => 'reset_password', :action => 'new'
  %p
    = link_to "ideapi Homepage", "http://#{request.domain}", :class => 'back-to-homepage'
