%h1 Editing brief_config

= error_messages_for :brief_config

- form_for(:brief_config, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submitter "Update"
    .clear
    
= link_to 'Show', object_path
|
= link_to 'Back', objects_path
