- collaborator = user_brief.user if defined?(user_brief)
%li.available_collaborator
  .add.inline-block
    - if defined?(available)
      - form_for UserBrief.new, brief_user_briefs_path(current_object), :html => {:method => :post, :class => 'submit_with_js new_user_brief', :id => "new_user_brief_#{collaborator.id}"} do |form|
        = hidden_field_tag 'user_brief[brief_id]', current_object.id, {:id => "user_brief_brief_id_#{collaborator.id}"}
        = hidden_field_tag 'user_brief[user_id]', collaborator.id.to_s, {:id => "user_brief_user_id_#{collaborator.id}"}
        = hidden_field_tag 'user_brief[author]', 0, {:id => "user_brief_author_#{collaborator.id}"}
        = hidden_field_tag 'user_brief[added_by_user_id]', current_user.id, {:id => "user_brief_added_by_user_id_#{collaborator.id}"}
        = form.submit 'Add', :id => "user_brief_submit_#{collaborator.id}", :class => 'add_user_brief_button'
  .avatar.inline-block
    = small_avatar(collaborator)
  .info.inline-block
    %p.name
      - if not collaborator.pending?
        =link_to truncate(given_name(collaborator), :lenght => 10), user_path(collaborator)
      - else
        =truncate(given_name(collaborator), :lenght => 10)