#options-menu.remove_with_js
  %ul.object-actions
    %li.show-tags
      = link_to "tags", "#", :id => "brief-tags-toggle"
    -if owner?(current_object) and current_object.active?
      %li.edit-brief
        =link_to 'edit', edit_brief_path(current_object), :title => 'Edit brief', :class => 'edit_brief'
      
    %li.print-brief
      =link_to 'print', brief_path(current_object, :print_mode => 1), :title => "print brief document", :class => "print_brief"
    
    -if owner?(current_object) and current_object.active?
      %li.clear-history
        - form_tag clean_brief_url(current_object) do |f|
          = submit_tag "clear history", :class => 'remove_with_js', :confirm => "Are you sure?"
          = link_to "clear history", clean_brief_url(current_object), :class => "clean_brief show_with_js"

    %li.change-state
      -form_for(current_object, :html => {:id => 'brief_change_state'}) do |change_state_form|
        -if current_object.published?
          =change_state_form.hidden_field '_call_state', :value => 'complete'
          = link_to "Mark as completed", "#", :class => 'show_with_js'
          = submit_tag "Mark as completed", :class => 'remove_with_js', :confirm => "Are you sure?"
        -elsif current_object.complete?
          =change_state_form.hidden_field '_call_state', :value => 'reactivate'
          = submit_tag "Reactivate", :class => 'remove_with_js'
          = link_to "Reactivate", "#", :class => 'show_with_js'
    -if owner?(current_object) and current_object.active?
      %li.delete-brief
        -form_for current_object, :html => { :method => :delete, :id => 'brief_delete' } do |f|
          =hidden_field_tag '_flash[notice]', 'Brief deleted', :id => 'brief_flash_notice'
          = submit_tag "delete", :class => 'remove_with_js'
          = link_to "delete", "#", :class => 'show_with_js'
  #brief-tags
    - form_for(current_object, :html => { :method => :put, :id => 'inline_brief_tags_form' }) do |brief_form|
      = brief_form.label :tag_field, "Tags:"
      = brief_form.text_field :tag_field, :value => current_object.tags_from(current_account)
      = brief_form.submit "save tags", :class => "inline-submit", :id => 'inline_brief_tags_submit'
