- comment = @comment if @comment.present?
%li
  %div[comment]
    =small_avatar(comment.user)
    .speech
      -if comment.user == current_user or current_object.author == current_user
        - form_for comment, :html => {:method => :delete, :class => "delete_comment_form" } do |form|
          = form.submit 'delete', :class => 'comment-delete ajaxify', :id => "delete_comment_#{comment.id}_submit"
      %p
        %strong
          = succeed ':' do
            =given_name(comment.user)
        =comment.comment
        %span.timestamp
          = "(#{comment_date(comment.created_at)})"
