%li[question]
  .brief_item_question
    =small_avatar(question.user)
    .speech
      -if question.user == current_user or owner?(current_object)
        - form_for question, :html => {:method => :delete, :class => "delete_question_form", :id => "delete_question_#{question.id}"} do |f|
          = f.submit 'delete', :class => 'question-delete ajaxify', :id => "delete_question_#{question.id}_submit"
      %p
        %strong="#{given_name(question.user)}:"
        =question.body_parsed
        %span.timestamp
          ="(#{comment_date(question.created_at)})"
  
  -if question.answered?
    .author_answer
      =medium_avatar(question.brief.author)
      .speech
        - if owner?(current_object) # owner? is true for authors, and only authors can answer
          - form_for question, :html => {:method => :put, :id => "delete_question_answer_#{question.id}", :class => "delete-question-answer-form"} do |f|
            = f.hidden_field :author_answer, :value => ''
            = f.submit 'delete', :class => 'delete-question-answer close-button', :id => "delete_question_answer_#{question.id}_submit"
        %p
          %strong
            =given_name(question.brief.author)
            answered:
          =question.author_answer
          %span.timestamp
            ="(#{comment_date(question.updated_at)})"
          
      .clear
  -else
    -if owner?(question.brief) && (question.user != current_user)
      .author_answer_form
        =medium_avatar
        =render :partial => 'briefs/question_answer_form', :locals => { :question => question }
        
