%li[question]
  .brief_item_question
    =small_avatar(question.user)
    .speech
      %p
        -if question.user == current_user or owner?(current_object)
          %span.delete-comment
            = link_to "delete", question_url(question), :class => "remote-delete"
        %strong="#{given_name(question.user)}:"
        =question.body_parsed
        %span.timestamp
          ="(#{comment_date(question.created_at)})"
  
  -if question.answered?
    .author_answer
      =medium_avatar(question.brief.author)
      .speech
        %p
          - if owner?(current_object) # owner? is true for authors, and only authors can answer
            %span.delete-comment
              = link_to "delete", question_url(question), :class => "remote-delete-answer"
          %strong
            =given_name(question.brief.author)
            answered:
          =question.author_answer
          %span.timestamp
            ="(#{comment_date(question.updated_at)})"
          
      .clear
  -else
    -if owner?(question.brief) && (question.user != current_user)
      .author_answer_form
        =medium_avatar
        =render :partial => 'question_answer_form', :locals => { :question => question }
        
