=what_user_is_doing do
  %h3
    \- you are editing
    =link_to current_object.title.downcase, object_path

=title_holder do
  %ul.brief_timeline
    %li
      %span.selected Write
    %li 
      %span Publish
    %li 
      %span Discuss
    %li 
      %span Peer Review
    %li 
      %span Present
    %li 
      %span Complete
  
%ul.sub_nav
  %li=link_to 'edit brief details', ''
  %li=link_to 'preview document', ''
  %li{:class => "secondary"}=link_to 'help me!', ''
  %li{:class => "secondary"}=link_to 'delete brief', ''

#edit_brief.col_1
  
  %h3.brief_document
    Brief Document
    %span - this is the heart of your proposal, answer as thoroughly as possible
  
  = error_messages_for :brief
  
  %p.note Your document is divided into sections your convenience when writing the proposal, once published the document will be displayed as a whole document. Only items that you fill out will be included in the document, so feel free to only fill in what is appropriate - however the more detail you provide at this stage the better your responses will be from our creative community.
  
  - form_for(current_object, :html => { :method => :put }) do |brief_form|
    #brief_details.brief_details
      %h3 Brief details
      = render :partial => "form", :locals => {:f => brief_form}
      %p=brief_form.submit 'Update'

    .brief_items_by_section
      - current_object.brief_items_grouped_by_section.each do |section_name, brief_items|
        .brief_item_section
          %h3.section_title=section_name
          %ul.brief_items
            -brief_items.each do |brief_item|
            
              %li[brief_item]{:class => (brief_item.optional ? "optional_brief_item" : "")}
                =hidden_field_tag "brief[brief_items_attributes][#{brief_item.id}][id]", brief_item.id
                %p=brief_item.title
                %p=text_area_tag "brief[brief_items_attributes][#{brief_item.id}][body]", brief_item.body
                -if !brief_item.help_message.blank?
                  %p.help_message
                    %strong Example:
                    = brief_item.help_message
              
      %p.submit.left= current_object.draft? ? brief_form.submit('Save and continue editing') : brief_form.submit('Update and continue editing')

  / only present the publish button to draft documents
  -if current_object.draft?
    - form_for(current_object, :url => publish_brief_path(current_object), :html => { :method => :put }) do |brief_form|
      %p.submit=brief_form.submit 'Publish'
      
  .clear