=sub_nav do
  =breadcrumb_list
  -if current_object.draft?
    %li=link_to 'preview document', brief_path(current_object), :class => "awesome small" , :rel => "facebox"

.col_1.edit_brief
  -if current_object.draft?
    #edit_brief_writing.note
      %h3 Writing a brief
      %p The more sections of the brief that are completed, the easier it will be for other users to collaborate.  You can come back to this screen at any time to edit your brief.
        
  - form_for(current_object, :html => { :method => :put }) do |brief_form|
  
    %div[current_object]
      %h2 
        = brief_form.text_field :title, :class => "inplace"
        
      .most_important_thing
        %p
          %span.left &ldquo;
          =brief_form.text_area :most_important_message, :rows => "5", :cols => 60, :style => "width: 20em; height: 6em"
          %span.right &rdquo;


    
      -current_object.brief_items.each do |brief_item|
        - if brief_item.present? and brief_item.is_heading? 
          %div[brief_item]
            %h3
              =brief_item.title
        -else
          =hidden_field_tag "brief[brief_items_attributes][#{brief_item.id}][id]", brief_item.id
          %div[brief_item]
            %h3
              =brief_item.title
            .body
              = text_area_tag "brief[brief_items_attributes][#{brief_item.id}][body]", brief_item.body
            -if !brief_item.help_message.blank?
              %p.help_message
                %strong Example:
                = brief_item.help_message
    %p
      = brief_form.label :tag_field, "Tags:"
      = brief_form.text_field :tag_field, :value => current_object.tags_from(current_user)
    -if current_object.draft?
      %p.submit=brief_form.submit 'publish', :name => 'brief[_call_state]'    
      %p.submit=brief_form.submit 'save draft'
    -else 
      %p.submit=brief_form.submit 'update'
 
  .clear
          
  .hr
  
  -form_for current_object, :html => { :method => :delete } do |f|
    =hidden_field_tag '_flash[notice]', 'Brief deleted'
    %p=f.submit 'delete brief', :confirm => "Are you sure?"
  
  
.col_2
  =render :partial => 'partials/textile_help'
  =render :partial => 'change_state', :locals => { :brief => current_object }
  .message
    %p
      NB. You can setup different brief templates in the #{link_to "Templates section", template_briefs_path}.
