=sub_nav do
  =breadcrumb_list
  -if current_user_can_create_briefs?
    %li{:class => "secondary"}
      =link_to 'Create brief', new_brief_path

#dashboard.col_1
  #dashboard_introduction.note
    - if current_user_can_create_briefs?
      %p
        From the dashboard you can access all your active briefs or filter briefs by tag. If you are an author or approver on any brief, your role will be visible here. 
        = link_to "View role descriptions", help_path
      %p
        = link_to "Create your first brief", new_brief_path
        using the default ideapi template, or start by #{link_to "creating your own template", new_template_brief_path}. Before you can collaborate on briefs, you’ll also need to #{ link_to "add some users to your account", users_path}.
    - else
      %p
        From the dashboard you can access all your active briefs or filter briefs by tag. If you are an author or approver on any brief, your role will be visible here. 
        = link_to 'View role descriptions', help_path
  -if @merged_questions.present?
    %ul#notifications
      -@merged_questions.each do |q|
        %li{:class => cycle(false, "even")}
          %span.notification_label
            -if q.answered_by_id.present?
              =link_to "answer to question", brief_path(q.brief, :anchor => "brief_item_#{q.brief_item_id.to_s}")
            -else
              =link_to "new question", brief_path(q.brief, :anchor => "brief_item_#{q.brief_item_id.to_s}")
          -if q.answered_by_id.present?
            %strong
              =truncate(q.body, 80)
            =truncate(q.author_answer, 80)
          -else
            =truncate(q.body, 80)
          %span.notification_meta
            -if q.answered_by_id.present?
              answered by #{q.answered_by.full_name}
            -else
              asked by #{q.user.full_name}
            on #{q.brief.title},  #{time_ago_in_words_with_word(q.created_at)}
          %span.notification_action
            -if q.answered_by_id.present?
              =link_to "View answer", brief_path(q.brief, :anchor => "brief_item_#{q.brief_item_id.to_s}")
            -else
              =link_to "Answer this question", brief_path(q.brief, :anchor => "brief_item_#{q.brief_item_id.to_s}")
  .brief_list
    %h2 
      Your active briefs
      -if params[:t]
        tagged as "#{params[:t]}"
    -if current_objects.empty?
      .brief_item
        %h3 
          -if current_user_can_create_briefs?
            You have no briefs - either 
            =link_to 'create a brief', new_brief_path
            using the standard template or 
            =link_to 'create your own specific template', new_template_brief_path
            first.
          -else
            You have no briefs. Contact your account owner if you need the ability to create briefs
    -else  
      =render :partial => 'brief', :collection => current_objects 
.col_2.dashboard
  -if @tags.present?
    .side_box
      %h2
        Tags
      .contents
        %ul.tag-list
          %li
            =link_to "all briefs", dashboard_path
          -@tags.each do |tag|
            %li
              =link_to "<span>#{tag.count}</span>#{tag.name}", dashboard_path(:t => tag.name)
  - else 
    .side_box
      %h2
        Tags
      .contents
        %ul
          %li Add tags to your briefs to allow them to be categorised.

  -if completed_briefs.present?
    .side_box
      %h2 
        Recently Completed
        %span

      .contents  
        %ul.completed_briefs
          -completed_briefs.each do |brief|    
            %li
              %p
                =link_to truncate(brief.title, 10), brief_path(brief)
              
        =link_to 'View all completed briefs', completed_briefs_path, :class => "action"
