=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Create a new brief
  
  #write_new_brief.note
    %p Choose your title carefully - this is how your brief will appear on the dashboards of other users.
  
  .boom_box
    = error_messages_for :brief

    - form_for(:brief, :url => objects_url) do |f|
      = render :partial => "form", :locals => {:f => f}
      
      - if available_templates.count > 1
        %p.combo-choose-template
          = f.label :template_brief_id, 'Choose template'
          = f.select :template_brief_id, available_templates.map{|t| [t.title, t.id]}
      
      -#%p
      -#  = f.label :tag_list, "Tags:"
      -#  = f.text_field :tag_list
      %p.submit
        = submit_tag "Create"
        .clear
        
