=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Create a new brief
  
  #write_new_brief.note
    :markdown
      The title is how your brief will appear on the Dashboards of other users. 
      One line brief is a punchy statement about your brief, 
      maybe a strap line or just the most important thing that you want to say. 
      Tags can be used to categorise your brief, e.g. Client names, Brief types, 
      Departments, etc.
      
      Be careful to choose the right template. Once created, you can’t alter the structure of a brief.
  
  .boom_box
    = error_messages_for :brief

    - form_for(:brief, :url => objects_url) do |f|
      = render :partial => "form", :locals => {:f => f}
      
      - if available_templates.count > 0
        %p.combo-choose-template
          = f.label :template_brief_id, 'Choose template'
          = f.select :template_brief_id, available_templates.map{|t| [t.title, t.id]}
          
          or 
          = link_to "create a new template", new_admin_template_brief_url
      
      %p
        = f.label :tag_field, "Tags:"
        = f.text_field :tag_field
      %p.submit
        = submit_tag "Create"
        .clear
        
