
= title "#{current_object.title} |"
= render :partial => 'briefs/brief_partials/text_brief_info'
=sub_nav do
  =breadcrumb_list

.col_1
  
  -unless current_object.active?
    %div{:id => "reactivate_tooltip_#{current_object.id}", :class => 'note'}
      %p 
        This brief has been marked as complete, and therefore is read-only.
        =render :partial => 'change_state', :locals => { :brief => current_object }
      
  %div[current_object]
    -if current_user.owns?(current_object)
      .actions
        = link_to "Actions", "javascript:void(0)", :class => "show-options-menu green-button-link", :id => 'toggle-brief-options-menu'
    
    = render :partial => 'briefs/brief_partials/brief_title', :locals => { :brief => current_object } 
    .clear
      // comment clear
    - if current_user.owns?(current_object)
      = render :partial => 'brief_options_menu', :locals => {:object => current_object}
      .clear
        // comment clear
    = render :partial => 'briefs/brief_partials/most_important_thing'
    = render :partial => 'briefs/brief_partials/brief_item', :collection => (current_object.brief_items)
    = render :partial => 'briefs/brief_partials/new_section', :locals => { :current_object => @brief} if owner?(current_object)
    -if current_object.draft? and owner?(current_object)
      .publish-draft
        - form_for(current_object, :html => { :method => :put }) do |brief_form|
          %p.submit=brief_form.submit 'publish', :name => 'brief[_call_state]'
  
  =render :partial => 'comments'
  
.col_2
  - unless current_object.draft?
    =render :partial => 'update_collaborators'
    =render :partial => 'responses'
  - else
    .big-ass-text
      D
      %br/
      R
      %br/
      A
      %br/
      F
      %br/
      T