=sub_nav do
  =breadcrumb_list 

.clear

.col_1
  = render :partial => 'briefs/brief_partials/text_brief_info', :locals => {}    
  -unless current_object.active?
    %div{:id => "reactivate_tooltip_#{current_object.id}", :class => 'note'}
      %p 
        This brief has been marked as complete, and therefore is read-only.
        =render :partial => 'change_state', :locals => { :brief => current_object }
      
  %div[current_object]
    -if current_user.owns?(current_object)
      .actions
        = link_to "Actions", "javascript:void(0)", :class => "show-options-menu", :id => 'toggle-brief-options-menu'
    
    = render :partial => 'briefs/brief_partials/brief_title', :locals => { :brief => current_object } 
    .clear
      // comment clear
    - if current_user.owns?(current_object)
      = render :partial => 'brief_options_menu', :locals => {:object => current_object}
      .clear
        // comment clear
    #brief-tags
      - form_for(current_object, :html => { :method => :put, :id => 'inline_brief_tags_form' }) do |brief_form|
        = brief_form.label :tag_field, "Tags:"
        = brief_form.text_field :tag_field, :value => current_object.tags_from(current_account)
        = brief_form.submit "save tags", :class => "inline-submit", :id => 'inline_brief_tags_submit'
        .clear
          / comment clear
    
    = render :partial => 'briefs/brief_partials/most_important_thing'
    .clear
      / comment clear
    -if current_object.brief_items_answered.empty?
      %p This document is empty
    -else
      =render :partial => 'briefs/brief_partials/brief_item', :collection => (current_object.brief_items.answered_or_heading)  
  =render :partial => 'comments'
  
.col_2  
  =render :partial => 'update_collaborators'
  =render :partial => 'responses'