%div[creative_response]
  %p.short_description
    %strong Short description
    = h creative_response.short_description
  %p.long_description
    %strong Long description
    = h creative_response.long_description
  %p.brief_id
    %strong Brief
    = h creative_response.brief_id
  %p.user_id
    %strong User
    = h creative_response.user_id

  = link_to 'Show', object_path(creative_response)
  |
  = link_to 'Edit', edit_object_path(creative_response)
  |
  = link_to 'Destroy', object_path(creative_response), :confirm => 'Really destroy creative_response?', :method => :delete
