%h1 Viewing creative_response

%div[current_object]
  %p.short_description
    %strong Short description
    = h current_object.short_description
  %p.long_description
    %strong Long description
    = h current_object.long_description
  %p.brief_id
    %strong Brief
    = h current_object.brief_id
  %p.user_id
    %strong User
    = h current_object.user_id

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy creative_response?', :method => :delete
|
= link_to 'Back', objects_path
