%p
  %label{:for => "question_title"} Title:
  = f.text_field :title
%p
  %label{:for => "question_help_text"} Help text:
  = f.text_area :help_text
%p
  %label{:for => "question_response_type_id"} Response type:
  = f.text_field :response_type_id
%p
  = f.label :highlighted, "Highlight?:"
  = f.check_box :highlighted