%h2 Editing question

= error_messages_for :question

- form_for(:question, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submitter "Update"
    .clear
    
= link_to 'Show', object_path
|
= link_to 'Back', objects_path
