%p
  = f.label :title
  = f.text_field :title
  %p.help_message
    This is how you response will appear when listed on the system.

%p
  = f.label :long_description, 'Your idea'
  = f.text_area :long_description, :rows => "5", :cols => 60
  %p.help_message
    Simple. Focused. Short. Sell it.
  
-attachment_count = 0  
- f.fields_for :assets do |asset_form|

  -if asset_form.object.new_record?
    %p
      = asset_form.label :data, 'Upload file'
      = asset_form.file_field :data
  -else
    - if asset_form.object.data.file?
      %p
        %label="Attachment #{attachment_count+=1}"
        -if asset_form.object.data.content_type =~ /image/
          =link_to image_tag(asset_form.object.data.url, :width => "100"), asset_form.object.data.url
        -else
          =link_to asset_form.object.data.original_filename, asset_form.object.data.url
      %p
        = asset_form.check_box '_delete'
        = asset_form.label '_delete', 'Remove'
      .hr