%div[current_object]
  %h2
    = f.text_field :title, :class => "inplace"
  .fields
    .field
      = f.text_area :long_description, :rows => "17", :cols => 60
    - unless current_object.new_record?
      #idea-attachments
        -attachment_count = 0
        - cf.reverse! if cf
        - f.fields_for :assets do |asset_form, index|
          -if asset_form.object.new_record?
            .proposal_asset.new
              %p.asset-desc
                =asset_form.label :description, 'Description'
                %span.description-textarea
                  =asset_form.text_field :description
            
              %p.asset-file
                = asset_form.label :data, 'Attach file'
                = asset_form.file_field :data
    
    
          -else
            .proposal_asset    
              %p.asset-desc
                =asset_form.label :description
                %span.description-textarea
                  =asset_form.text_field :description
              - if asset_form.object.data.file?
                %p.asset-file
                  %label="Attachment #{attachment_count+=1}"
                  -if asset_form.object.data.content_type =~ /image/
                    %span=link_to image_tag(asset_form.object.data.url, :width => "100"), asset_form.object.data.url, :class => 'link_to_asset', :target => '_blank'
                  -else
                    %span=link_to asset_form.object.data.original_filename, asset_form.object.data.url, :class => 'link_to_asset'
                
              -else
                %p.asset-file
                  = asset_form.label :data, 'Upload file'
                  %span= asset_form.file_field :data
              %p.remove_asset
                = link_to "Remove this!", asset_form.object, :method => 'delete', :class => 'delete remote-delete-asset', :confirm => "Are you sure you want to delete this attachment?", :title => 'Remove asset'