=content_for :page_title do
  %h2
    Question for
    =link_to brief.title.titlecase, brief_path(brief)
    %span.author_info="by #{user_link(brief.author)}"
    Asked by 
    %span.author_info="#{user_link(current_object.creative)}"
    
%div[current_object]
  
  =#prev_next_for_question(current_object)
  
  %p.related_question
    Question in relation to: 
    %strong=current_object.related_question
  
  .question_asked
    .creative_avatar
      =avatar(current_object.creative, :medium)
      -if current_object.answered?              
        %span.answered Answered
    %span.question_body="<strong>#{user_link(current_object.creative)} asked:</strong> #{h current_object.body}"
    
  -if current_object.answered?
    %p.author_response
      ="<span><strong>#{user_link(brief.author)} answered:</strong> #{h current_object.answer}</span>"
      =avatar(brief.author, :medium)
  -else
    -if author?
      .form_box
        - form_for(current_object, :url => brief_creative_question_path(brief, current_object), :method => :put) do |f|
          %p=f.text_area :answer, :rows => 5, :cols => 80, :style => "width: 580px"
          %p.submit=f.submit "submit answer"
      
      
  .recent_comments
    %h3 Recent Comments
    -if current_object.comments.blank?
      %p There are no comments for this question
    -else
      %ul.comment_list
        =render :partial => 'comments/comment', :collection => current_object.comments.top_level, :locals => { :author => brief.author }
  .form_box
    %h3 Add your comment
    - form_for(:comment, :url => brief_creative_question_comments_path(brief, current_object)) do |f|
      = render :partial => "comments/form", :locals => {:f => f}