!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ideapi
    %script{ :type => "text/javascript" }  
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    
    =stylesheet_link_tag %w(application textile facebox jquery.wysiwyg)
    /[if IE 7]<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
    
    /[if IE 6]<link href="/stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
    =stylesheet_link_tag %w(reset print), :media => "print"
     
  %body{:id => body_ids, :class => body_classes}
    =render :partial => 'user_feedback/feedback_form'  
    #container
      = render :partial => 'partials/header'
      #content
        .clear
        %ul{:class => "sub_nav #{app_logo_class}"}
          =yield :sub_nav
        =yield :title_holder
        =yield :side_bar
        .main
          =yield
          .clear
      #footer
        %p
          &copy; 2010
          |
          = mail_to "support@ideapi.com", "Support"
          |
          = mail_to "feedback@ideapi.com", "Feedback"

      .clear
    
    - # Google Analytics only in the dashboard
    - if params[:action] == "index" and params[:controller] == "briefs"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-691295-5']);
        _gaq.push(['_setDomainName', '.ideapi.com']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
    /[if IE 6]<script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>

    =javascript_include_tag %w(jquery jcorners facebox jquery.cookie jquery.wysiwyg SmartTextBox jquery.infieldlabel.min jshizzle ajaxify)
    - # / For rounded corners in IE8... 
    - # /[if lte IE 8]<script type="text/javascript" src="/javascripts/dd_roundies.js"></script>
    - # /[if lte IE 8]<script type="text/javascript" src="/javascripts/ie.js"></script>
    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
    =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
