!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ="ideapi | "
      - if yield(:title)
        =yield(:title)
      - else
        ="Welcome to ideapi"

    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %link{ :href => "/stylesheets/landing.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }/
    /For headers, Cabin font (bold)
    %link{:href=>'http://fonts.googleapis.com/css?family=Cabin:bold', :rel=>'stylesheet', :type=>'text/css'}/
    /For body text, the Ubuntu font has good curves
    %link{:href=>'http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold', :rel=>'stylesheet', :type=>'text/css'}/
    -# /[if IE 6]
    -#   %link{ :href => "/stylesheets/landing-ie6.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    /[if IE 7]
      %link{ :href => "/stylesheets/landing-ie7.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }        
    /[if IE 8]
      %link{ :href => "/stylesheets/landing-ie8.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
        
    =javascript_include_tag %w(jquery http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js jquery.easyslider marketing)
  
  - if controller_name == "pages"
  -   @body_class = action_name + "-page page-template"
  %body{:class => @body_class}
    #header
      .container
        //container holds in grid
        #logo
          %h1
            = link_to image_tag('/images/ideapi-logo-shadow.png'), "http://#{request.domain}/", :class => 'logo'
        
        %ul#navigation.navigation
          %li=link_unless_current 'overview', "http://#{request.domain}/"
          %li=link_unless_current 'features', "http://#{request.domain}#{features_path}"
          %li=link_unless_current 'faq', "http://#{request.domain}#{faq_path}"
          %li=link_unless_current "who's it for?", "http://#{request.domain}#{who_path}"
          -# %li=link_to 'blog', 'http://blog.ideapi.com'
          - if @usersession.present? and @user.present? 
            %li= link_to 'account', login_path, :class => 'green-button-link login-link'
          - else
            %li= link_to 'login', login_path, :class => 'green-button-link login-link'
    #content
      .container
        =yield
    
    #footer
      .container
        .left
          - if yield(:custom_footer)
            = yield :custom_footer
          - else
            .large-quote
              .quote
                .before
                  %img{:src => '/images/icons/lquote.png', :alt=> ""}/
                .content
                  :markdown
                    …perfect for an organisation like ours working with many different groups and individuals all in different time zones…

                .after
                  %img{:src => '/images/icons/rquote.png', :alt=> ""}/
              .cite
                %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange        
          
        .right
          .social.span-1.last
            %ul.social-links              
              %li
                %a{ :href => "http://twitter.com/ideapi/", :title => "follow us on twitter" }
                  %img{:src => "/images/social/twitter.png", :alt => "twitter", :height => "24"}
              %li
                %a{ :href => "http://www.facebook.com/ideapi/", :title => "ideapi @ Facebook" }
                  %img{:src => "/images/social/facebook.png", :alt => "facebook", :height => "24"}
              %li
                %a{ :href => "http://blog.ideapi.com/rss/", :title => "RSS" }
                  %img{:src => "/images/social/rss.png", :alt => "rss", :height => "24" }
          .getsatisfaction-icon.span-2
            :markdown
              <a href="http://getsatisfaction.com/ideapi"><img src="/images/resources/getsatisfaction2.png" alt="GetSatisfaction" /></a>
          .getsatisfaction.span-3
            :markdown
              Got a question? Need support? Want to give feedback? Visit our [GetSatisfaction community](http://getsatisfaction.com/ideapi), or try our [FAQs](#{faq_path}).
          
          .copyright.clearfix.span-3
            :markdown
              &copy;2011 Ideapi Limited.
              A [pebble.it](http://pebbleit.com) product.
          .quick-links.span-3
            %ul 
              %li
                %a{ :href => terms_path, :title => "Terms of Service" }Terms of Service
                |
              %li
                %a{ :href => privacy_path, :title => "Privacy Policy" }Privacy Policy
                |
              %li
                %a{ :href => "mailto:info[at]pebbleit", :title => "info", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }="Contact"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-691295-5']);
      _gaq.push(['_setDomainName', '.ideapi.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    /[if IE 6]<script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>