!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ="ideapi | "
      - if yield(:title)
        =yield(:title)
      - else
        ="Welcome to ideapi"

    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %link{ :href => "/stylesheets/landing.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }/
    /For headers, Cabin font (bold)
    %link{:href=>'http://fonts.googleapis.com/css?family=Cabin:bold', :rel=>'stylesheet', :type=>'text/css'}/
    /For body text, the Ubuntu font has good curves
    %link{:href=>'http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold', :rel=>'stylesheet', :type=>'text/css'}/
    /[if IE 6]
      %link{ :href => "/stylesheets/marketing_ie6.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    /[if IE 7]
      %link{ :href => "/stylesheets/marketing_ie7.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }        
    /[if IE 8]
      %link{ :href => "/stylesheets/marketing_ie8.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
        
    =javascript_include_tag %w(jquery jquery.infieldlabel.min marketing jquery.easyslider)
  
  - if controller_name == "pages"
  -   @body_class = action_name + "-page page-template"
  %body{:class => @body_class}
    #header
      .container
        //container holds in grid
        #logo
          %h1
            = link_to image_tag('/images/logo-white.png'), "/", :class => 'logo'
        
        %ul#navigation.navigation
          %li=link_unless_current 'overview', home_path
          %li=link_unless_current 'features', tour_path
          %li=link_unless_current 'faq', faq_path
          %li=link_unless_current 'who', 'javascript:void()'
          -# %li=link_to 'blog', 'http://blog.ideapi.com'
          %li= link_to 'login', login_path, :class => 'green-button-link login-link'
          
    #content
      .container
        =yield
    
    #footer
      .container
        .left
          - if yield(:custom_footer)
            = yield :custom_footer
          - else 
            %p
              \&copy;2010 Ideapi Limited 
              | 
              %a{ :href => terms_path, :title => "Terms of Service" }
                Terms of Service
              |
              %a{ :href => privacy_path, :title => "Privacy Policy" }
                Privacy Policy
              |
              %a{ :href => "mailto:info[at]pebbleit", :title => "info", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }="Contact"
        
          
        .right
          .social
            %h4 Follow us on:
            %ul.social-links              
              %li
                %a{ :href => "http://twitter.com/ideapi/", :title => "follow us on twitter" }
                  %img{:src => "/images/social/twitter.png", :alt => "twitter", :height => "24"}
              %li
                %a{ :href => "http://www.facebook.com/ideapi/", :title => "ideapi @ Facebook" }
                  %img{:src => "/images/social/facebook.png", :alt => "facebook", :height => "24"}
              %li
                %a{ :href => "http://blog.ideapi.com/rss/", :title => "RSS" }
                  %img{:src => "/images/social/rss.png", :alt => "rss", :height => "24" }
          .copyright
            %p
              :markdown
                &copy;2010 Ideapi Limited. <br/>
                A [pebble.it](http://pebbleit.com) product.
            %ul 
              %li
                %a{ :href => terms_path, :title => "Terms of Service" }Terms of Service
              %li
                %a{ :href => privacy_path, :title => "Privacy Policy" }Privacy Policy
              %li
                %a{ :href => "mailto:info[at]pebbleit", :title => "info", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }="Contact"
          .quick-links
            %ul.navigation
              %li= link_to 'overview', home_path
              %li= link_to 'features', tour_path
              %li= link_to 'faq', faq_path
              %li= link_to 'who', 'javascript:void()'
              %li= link_to 'login', login_path
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-691295-5']);
      _gaq.push(['_setDomainName', '.ideapi.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    /[if IE 6]<script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>