.col_1

  %h2 Create an account

  %div.signup-form
  -form_tag :action => 'create' do
    = hidden_field_tag 'plan', params[:plan] || @freeplan.id
    :markdown
      Enter the name of your business and the web address your collaborators will use to login to ideapi. 
      Every ideapi account has it's own unique web address, for example **http://yourcompany.ideapi.com**.
      Only letters and digits are allowed.
      

    -if @account.errors.any?
      .errorExplanation
        %h4 Errors encountered with your account information:
        %ul
          =@account.errors.full_messages.map {|m| content_tag('li', m)}
    %fieldset
      -fields_for :account do |f|
        %p
          = f.label :name, "Company"
          = f.text_field :name
          = error_message_on @account, :name
        %p
          = f.label :domain, "Web Address"
          = f.text_field :domain
          = '.' << AppConfig['base_domain']
    
    %h3 Account owner
    
    %fieldset
      -fields_for :user do |f|
        %p
          = f.label :first_name
          = f.text_field :first_name
        
        %p
          = f.label :last_name
          = f.text_field :last_name
        
        %p
          = f.label :screename, 'Screename'
          = f.text_field :screename
          %span.tip (This is how your updates will tagged)
        
        %p
          = f.label :email
          = f.text_field :email
        
        %p
          = f.label :password
          = f.password_field :password
        
        %p
          = f.label :password_confirmation, "Confirm Password"
          = f.password_field :password_confirmation
        %p
          =f.label :terms_of_service, "&nbsp;"
          =f.check_box  :terms_of_service
          ="I have read and agree to the "
          =link_to "Terms of Service", {:controller => 'pages', :action => 'terms'}, :popup => 'terms'
          =" and "
          =link_to "Privacy Policy", {:controller => 'pages', :action => 'privacy'}, :popup => 'privacy'

    
    -# %h3 Choose a plan 
    -#       %fieldset
    -#         %ul
    -#           - @plans.each_with_index do |plan, index| 
    -#             %li
    -#               = radio_button_tag :plan, plan.id, @plan == plan
    -#               = plan
       
    - if @account.needs_payment_info?
      %h3 Payment details
      = render :partial => "shared/credit_card_form"
      %br
  
    -#  %fieldset
    -#    %p
    -#      = label :discount, "Discount code"
    -#      = text_field_tag :discount, params[:discount]
    -#  %br
  
    %fieldset
      - if @account.needs_payment_info?
        - content_tag(:p) do
          Your card will be charged 
          - if  @account.plan.setup_amount? && !@account.plan.trial_period?
            = number_to_currency(@account.plan.setup_amount) + ' now and ' 
          = number_to_currency(@account.plan.amount) 
          = @account.plan.renewal_period == 1 ? 'every month' : "every #{@account.plan.renewal_period} months."
        
      %p.second-column= submit_tag 'Create my account'
.col_2
  .side_box
    %h2 FAQs
    .signup-faqs
      %p 
        %strong
          How long will the free trial last?
      %p
        We are committed to always offering a free plan on ideapi.com

      %p 
        %strong
          When are you going to start charging for ideapi?
      %p 
        Right now we're busy working on new features, and have no immediate plans to start charging users. There will be plenty of notice for higher usage users when we do introduce paid plans, and we're committed to providing a free plan.

      %p 
        %strong
          How much will it cost?
      %p 
        ideapi pricing be comparable to other web-based tools with similar functionality sets.
      %p 
        %strong
          If you were to have a paid subscription what would you get on top of the free plan?
      %p 
        It's likely that paid plans will be differentiated on the number of collaborating users and/or brief documents that can be created.
