= sub_nav do
  = breadcrumb_list
.col_1
  %h2 Account Management
  #update_account
    - form_for @account, :url => account_path, :html => {:id => 'edit_account_form', :multipart => true} do |f|
      .field.company-name
        %p
          = f.label :name, 'Company Name'
          = f.text_field :name
          %span.errors= f.object.errors[:name]
      .field.account-holder
        %p
          = f.label :admin, 'Account Holder'
          = f.collection_select :admin, current_account.users, :id, :full_name, :prompt => true, :selected => @account.admin.id
        %p.warning NB. By changing the account holder, you will no longer have access to this page and will be redirected to the documents.
      .field.logo
        %p
          = f.label :logo, 'Logo' 
          = f.file_field :logo
        - if f.object.errors[:logo].present?
          %p.errors= f.object.errors[:logo]
        %p.logo-preview
          =image_tag(@account.logo.url(:normal))
          - if @account.logo.url(:normal) != @account.logo.options[:default_url]
            = check_box_tag :delete_logo, '1'
            = label_tag :delete_logo, 'Delete logo'
      .field.submit
        = f.submit 'Update', :class => 'funky-button'
  - if @subscription.state == 'trial'
    .note
      %h3
        Thank you for trying 
        = succeed "!" do
          = AppConfig['app_name']
 
      - if @subscription.next_renewal_at > Time.now
        %p 
          Your trial account will expire in 
          = succeed "," do
            %strong= pluralize(@subscription.trial_days, 'day', 'days') 
          at which time you will no longer have access to your account.  
          To maintain access to your account, enter your credit card information below. 
        %p 
          Your first charge will happen on 
          = succeed "." do
            %strong= @subscription.next_renewal_at.to_s(:long_day)
      - else
        %p Your trial account has expired. To regain access to your account, enter your credit card information below.  Your first charge will happen immediately, and you will be billed monthly thereafter.

  = render :partial => 'plan' if false

  - if @subscription.state == 'trial' or @subscription.amount > 0
    = render :partial => 'billing'

  / %p= link_to('Cancel plan', cancel_account_url)
  
  #update_domain_name
    %h4 Domain Name
    .base_domain
      = @account.full_domain 
    %p.warning.change_domain
      If you would like to change your account subdomain, please email us at 
      %a{ :href => "mailto:support[at]ideapi.com", :title => "support", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }= "support@ideapi.com"
      with the required change. Please note that changing the subdomain will change the URL that you and your users use to access ideapi.
  
  
  #delete-account
    %h4 Delete Account
    %p
      If you would like to delete your account, you can do so by following the 'Delete account' button.
    %p= link_to 'Delete Account', cancel_account_url, :class => 'green-button-link fright'